<h1><%= @doctor.name %></h1>
<p>Hospital: <%= @doctor.hospital.name %></p>
<p>License #: <%= @doctor.license_num %></p>
<p>Specialty: <%= @doctor.specialty %></p>
<p>Offers Probono: <%= @doctor.probono %></p>